<!DOTYPE HTML>
<html>
	<head>
		<title>MARI BELAJAR</title>
		<script src='suara.js' type='text/javascript'> </script>
		<link rel="stylesheet" type="text/css" href="../style.css" />
	</head>
	<body>
		<div id="countainer" style="background-image:url(../background3.png);">
		<div id="table">
		<table>
		<tr>
			<td onclick="merah.playclip()"><a href="#"><div class="warna" style="background-color:red"></div></a></td>
			<td style="width:10px"></td>
			<td onclick="biru.playclip()"><a href="#"><div  class="warna" style="background-color:blue"></div></a></td>
			<td style="width:10px"></td>
			<td onclick="hijau.playclip()"><a href="#"><div class="warna" style="background-color:green"></div></a></td>
			<td style="width:10px"></td>
			<td onclick="oranye.playclip()"><a href="#"><div class="warna" style="background-color:orange"></div></a></td>
			
		</tr>
		<tr>
			<td class="warna1">MERAH</td>
			<td style="width:10px"></td>
			<td class="warna1">BIRU</td>
			<td style="width:10px"></td>
			<td class="warna1">HIJAU</td>
			<td style="width:10px"></td>
			<td class="warna1">ORANYE</td>
			
		</tr>
		<tr>
			<td style="height:10px"></td>
		</tr>
		<tr>
			<td onclick="hitam.playclip()"><a href="#"><div class="warna" style="background-color:black"></div></a></td>
			<td></td>
			<td onclick="coklat.playclip()"><a href="#"><div class="warna" style="background-color:brown"></div></a></td>
			<td></td>
			<td onclick="kuning.playclip()"><a href="#"><div class="warna" style="background-color:yellow"></div></a></td>
			<td></td>
			<td onclick="merahmuda.playclip()"><a href="#"><div class="warna" style="background-color:pink"></div></a></td>
		</tr>
		<tr>
			<td class="warna1">HITAM</td>
			<td></td>
			<td class="warna1">COKLAT</td>
			<td></td>
			<td class="warna1">KUNING</td>
			<td></td>
			<td class="warna1">MERAH MUDA</td>
			
		</tr>
		<tr>
			<td style="height:10px"></td>
		</tr>
		<tr>
			<td onclick="putih.playclip()"><a href="#"><div  class="warna" style="background-color:white"></div></a></td>
			<td></td>
			<td onclick="ungu.playclip()"><a href="#"><div class="warna" style="background-color:purple"></div></a></td>
			<td></td>
			<td onclick="abu.playclip()"><a href="#"><div class="warna" style="background-color:gray"></div></a></td>
			<td></td>
			<td onclick="aqua.playclip()"><a href="#"><div class="warna" style="background-color:aqua"></div></a></td>
			<td></td>
		</tr>
		<tr>
			<td class="warna1">PUTIH</td>
			<td></td>
			<td class="warna1">UNGU</td>
			<td></td>
			<td class="warna1">ABU-ABU</td>
			<td></td>
			<td class="warna1">AQUA</td>
			<td></td>
		</tr>
	</table>
		</div>
		<div style="float:left;margin-top:-40px;margin-left:150px;">
			<div id="navigasi1">
					<ul>
						<li><a href="index.html"><< KEMBALI</a></li>
					</ul>
				</div>
		</div>
		</div>
	</body>
</html>