<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<table>
		<tr>
			<td class="awan">A</td>
			<td></td>
			<td class="awan">B</td>
			<td></td>
			<td class="awan">C</td>
			<td></td>
			<td class="awan">D</td>
			<td></td>
			<td class="awan">E</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan">F</td>
			<td></td>
			<td class="awan">G</td>
			<td></td>
			<td class="awan">H</td>
			<td></td>
			<td class="awan">I</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="awan">J</td>
			<td></td>
			<td class="awan">K</td>
			<td></td>
			<td class="awan">L</td>
			<td></td>
			<td class="awan">M</td>
			<td></td>
			<td class="awan">N</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan">O</td>
			<td></td>
			<td class="awan">P</td>
			<td></td>
			<td class="awan">Q</td>
			<td></td>
			<td class="awan">R</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="awan">S</td>
			<td></td>
			<td class="awan">T</td>
			<td></td>
			<td class="awan">U</td>
			<td></td>
			<td class="awan">V</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan">W</td>
			<td></td>
			<td class="awan">X</td>
			<td></td>
			<td class="awan">Y</td>
			<td></td>
			<td class="awan">Z</td>
		</tr>
	</table>
</body>
</html>