<!DOTYPE HTML>
<html>
	<head>
	<script src='suara.js' type='text/javascript'> </script>
		<title>MARI BELAJAR</title>
		<link rel="stylesheet" type="text/css" href="../style.css" />
	</head>
	<body>
		<div id="countainer" style="background-image:url(../background3.png);">
		<div id="table">
		<table>
		<tr>
			<td class="awan" onclick="a.playclip()"><a href="#">A</a></td>
			<td></td>
			<td class="awan" onclick="b.playclip()"><a href="#">B</a></td>
			<td></td>
			<td class="awan" onclick="c.playclip()"><a href="#">C</a></td>
			<td></td>
			<td class="awan" onclick="d.playclip()"><a href="#">D</a></td>
			<td></td>
			<td class="awan" onclick="e.playclip()"><a href="#">E</a></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan" onclick="f.playclip()"><a href="#">F</a></td>
			<td></td>
			<td class="awan" onclick="g.playclip()"><a href="#">G</a></td>
			<td></td>
			<td class="awan" onclick="h.playclip()"><a href="#">H</a></td>
			<td></td>
			<td class="awan" onclick="i.playclip()"><a href="#">I</a></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td class="awan" onclick="j.playclip()"><a href="#">J</a></td>
			<td></td>
			<td class="awan" onclick="k.playclip()"><a href="#">K</a></td>
			<td></td>
			<td class="awan" onclick="l.playclip()"><a href="#">L</a></td>
			<td></td>
			<td class="awan" onclick="m.playclip()"><a href="#">M</a></td>
			<td></td>
			<td class="awan" onclick="n.playclip()"><a href="#">N</a></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan" onclick="o.playclip()"><a href="#">O</a></td>
			<td></td>
			<td class="awan" onclick="p.playclip()"><a href="#">P</a></td>
			<td></td>
			<td class="awan" onclick="q.playclip()"><a href="#">Q</a></td>
			<td></td>
			<td class="awan" onclick="r.playclip()"><a href="#">R</a></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td class="awan" onclick="s.playclip()"><a href="#">S</a></td>
			<td></td>
			<td class="awan" onclick="t.playclip()"><a href="#">T</a></td>
			<td></td>
			<td class="awan" onclick="u.playclip()"><a href="#">U</a></td>
			<td></td>
			<td class="awan" onclick="v.playclip()"><a href="#">V</a></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="awan" onclick="w.playclip()"><a href="#">W</a></td>
			<td></td>
			<td class="awan" onclick="x.playclip()"><a href="#">X</a></td>
			<td></td>
			<td class="awan" onclick="y.playclip()"><a href="#">Y</a></td>
			<td></td>
			<td class="awan" onclick="z.playclip()"><a href="#">Z</a></td>
		</tr>
	</table>
		</div>
		<div style="float:left;margin-top:10px;margin-left:150px;">
			<div id="navigasi1">
					<ul>
						<li><a href="index.html"><< KEMBALI</a></li>
					</ul>
				</div>
		</div>
		</div>
	</body>
</html>